<form>
    <p>titulo: </p>
    <input type="text" name="title">

    <p>Conteudo: </p>
    <textarea name="conteudo"> </textarea>
    <button type="submit"> Cadastrar Postagen</button>
</form>

// nao possui estrutura html pois o arquivo "Projects\Postagens\Views\Layouts\main.handlebars" detem o layout principal // 